<!-- reserve_parking.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Reserve Parking</h2>
        <form method="POST" action="{% url 'reserve_parking' %}" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Reserve</button>
            <a href="{% url 'home' %}" class="btn btn-secondary btn-block mt-2">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
